/* ===== TRAGEDY ===== */

#wrapper{
    background-color:#162544;
}

.artfight-nav,
.profile-header-wrapper,
.card{
    background:#1F3C73!important;
}

.panel-heading{
    background:#2F5FBF!important;
    color:white!important;
}

.profile-description,
.table.table-bordered.table-card,
.card-body.panel-body{
    background:rgba(24,40,72,.90);
    border:4px solid #7EA9FF;
}

.nav-tabs .nav-item{
    background:#274C91!important;
}

.nav-link.active{
    background:#8FB8FF!important;
    color:#162544!important;
}

a{
    color:#9FC5FF;
}

.btn-primary,
.btn-success,
.btn-warning,
.btn-danger{
    background:#2F5FBF;
    color:white;
}
